<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Segreteria</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="openAddPatientModal()">
        <ion-icon slot="icon-only" name="person-add-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="openAddDoctorModal()">
        <ion-icon slot="icon-only" name="person-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button id="user-avatar-button">
        <ion-avatar>
          <img [src]="(userProfile$ | async)?.avatarUrl" alt="user image" />
        </ion-avatar>
      </ion-button>
      <ion-popover trigger="user-avatar-button" dismiss-on-select="true">
        <ng-template>
          <ion-list lines="none">
            <ion-list-header>
              {{ (userProfile$ | async)?.name }}
            </ion-list-header>
            <ion-item button (click)="logout()">
              <ion-icon name="log-out-outline" slot="start"></ion-icon>
              Logout
            </ion-item>
          </ion-list>
        </ng-template>
      </ion-popover>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ng-container *ngIf="patientsByStatus$ | async as pdata; else loading">
    <ion-grid>
      <ion-row>
        <ion-col sizeMd="6">
          <h2>Pazienti in attesa</h2>
          <ng-container
            *ngFor="let group of pdata.waiting; trackBy: trackByStudy"
          >
            <h3>Studio {{ group.study }}</h3>
            <ion-list>
              <ion-item
                *ngFor="let patient of group.patients; trackBy: trackByPatientId"
              >
                <ion-label>
                  <h2>{{ patient.full_name }}</h2>
                  <p>Numero: {{ patient.assigned_number }}</p>
                  <p>
                    Orario appuntamento: {{ patient.appointment_time |
                    date:'HH:mm'}}
                  </p>
                </ion-label>
                <app-button slot="end" (click)="callPatient(patient)">
                  <ion-icon name="hand-left-outline"></ion-icon>
                </app-button>
                <app-button slot="end" (click)="openEditPatientModal(patient)">
                  <ion-icon name="create-outline"></ion-icon>
                </app-button>
                <app-button
                  slot="end"
                  color="danger"
                  (click)="removePatient(patient.id)"
                >
                  <ion-icon name="trash-outline"></ion-icon>
                </app-button>
              </ion-item>
            </ion-list>
          </ng-container>
        </ion-col>

        <ion-col sizeMd="6">
          <h2>Medici attivi</h2>
          <ng-container *ngIf="doctorsByStudy$ | async as ddata">
            <ng-container *ngFor="let group of ddata; trackBy: trackByStudy">
              <h3>Studio {{ group.study }}</h3>
              <ion-list>
                <ion-item
                  *ngFor="let doc of group.doctors; trackBy: trackByDoctorId"
                >
                  <ion-label>
                    <h2>{{ doc.name }}</h2>
                    <p>
                      Paziente in visita:
                      <strong>{{ doc.last_patient || 'Nessuno' }}</strong>
                    </p>
                  </ion-label>
                </ion-item>
              </ion-list>
            </ng-container>
          </ng-container>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ng-container>

  <!--Spinner di caricamento -->
  <ng-template #loading>
    <ion-spinner
      name="crescent"
      style="display: block; margin: auto; padding-top: 2rem"
    ></ion-spinner>
  </ng-template>
</ion-content>
