ion-chip {
  font-size: 1.1rem;
  font-weight: 500;
}

ion-avatar {
  width: 2.5rem;
  height: 2.5rem;
}

.prenotati-header {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.section-title {
  color: var(--ion-color-primary);
}

.date-title {
  color: var(--ion-color-primary);
}

.icon {
  color: var(--ion-color-secondary);
}

.segreteria-content {
  --background: #f5f7fa;
}

.studio {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--ion-color-secondary);
}

.card-soft {
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.name {
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--ion-color-primary);
}

.study {
  font-size: 1rem;
  font-weight: 400;
  color: var(--ion-color-primary);
}

.app {
  font-size: 1rem;
  font-weight: 400;
  color: var(--ion-color-primary);
}

.divider-col {
  display: flex;
  justify-content: center;
  align-items: center;
}

.vertical-divider {
  width: 0.2rem;
  height: 100%;
  background-color: rgba(10, 61, 102, 0.15);
  border-radius: 1px;
}

.doc-button-col {
  align-content: center;
  text-align: center;
}
