<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Studio {{ myStudyId }}</ion-title>
    <ion-buttons slot="end">
      <ion-button id="user-avatar-button">
        <ion-avatar>
          <img [src]="(userProfile$ | async)?.avatarUrl" alt="user image" />
        </ion-avatar>
      </ion-button>
      <ion-popover trigger="user-avatar-button" dismiss-on-select="true">
        <ng-template>
          <ion-list lines="none">
            <ion-item button (click)="logout()">
              <ion-icon name="log-out-outline" slot="start"></ion-icon>
              Logout
            </ion-item>
          </ion-list>
        </ng-template>
      </ion-popover>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Paziente in visita</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <!-- se c'è un currentPatient -->
      <ng-container *ngIf="currentPatient; else noneInVisita">
        <h2>{{ currentPatient?.full_name }}</h2>
        <p>
          Appuntamento: {{ currentPatient?.appointment_time | date:'HH:mm' }}
        </p>
      </ng-container>
      <ng-template #noneInVisita>
        <p>Nessun paziente in visita</p>
      </ng-template>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Prossimo in attesa</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <!-- se c'è un nextPatient -->
      <ng-container *ngIf="nextPatient; else noneInAttesa">
        <h2>{{ nextPatient?.full_name }}</h2>
        <p>Numero: {{ nextPatient?.assigned_number }}</p>
        <p>Appuntamento: {{ nextPatient?.appointment_time | date:'HH:mm' }}</p>
        <ion-button expand="block" (click)="callNext()"
          >Chiama prossimo</ion-button
        >
      </ng-container>
      <ng-template #noneInAttesa>
        <p>Non ci sono pazienti in attesa</p>
      </ng-template>
    </ion-card-content>
  </ion-card>
</ion-content>
