.data-row {
  text-align: center;
}

.data-col {
  align-content: center;
}

.medico-content {
  --background: #f5f7fa;
  padding: 16px;
}

.card-soft {
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.section-title {
  color: var(--ion-color-primary);
}

.patient-name {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--ion-color-primary);
  padding-bottom: 0.5rem;
}

.app {
  font-size: 1.2rem;
  font-weight: 400;
  color: var(--ion-color-secondary);
}
