<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Medico</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">  
    <ion-list>
      <ion-item *ngFor="let patient of patients">
        <ion-label>
          <h2>{{ patient.full_name }}</h2>
          <p>Numero: {{ patient.assigned_number }}</p>
        </ion-label>
        <ion-button color="primary" (click)="callPatient(patient.id)">Chiama</ion-button>
      </ion-item>
      <ion-item *ngIf="patients.length === 0">
        <ion-label>Nessun paziente in attesa per il tuo studio</ion-label>
      </ion-item>
    </ion-list>
</ion-content>
