<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button slot="start" fill="clear">
        <ion-img
          slot="start"
          src="assets/logo-clinica.png"
          style="width: 70px; height: 70px"
        >
        </ion-img>
      </ion-button>
    </ion-buttons>

    <ion-title>Sala Attesa</ion-title>
    <ion-buttons slot="end">
      <ion-button
        [style.visibility]="unlocked ? 'hidden' : 'visible'"
        (click)="unlockAudio()"
      >
        Abilita Suoni 🔊
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="sala-attesa-content">
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12" size-md="12">
        <ion-grid fixed>
          <ion-row>
            <ion-card class="card-hidden">
              <ion-grid fixed>
                <ion-row class="data-row">
                  <ion-col size="12" size-md="6" class="data-col">
                    <h2 class="section-title">Medici</h2>
                  </ion-col>
                  <ion-col size="12" size-md="6" class="data-col">
                    <h2 class="section-title">Numero</h2>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-card>
          </ion-row>

          <ion-row *ngFor="let row of rows$ | async; trackBy: trackByRow">
            <ion-card
              class="card-soft"
              [@highlight]="highlightedStudy === row.study ? 'on' : 'off'"
            >
              <ion-card-content>
                <ion-grid fixed>
                  <ion-row class="data-row">
                    <ion-col size="12" size-md="6" class="data-col">
                      <ion-label>
                        <ng-container
                          *ngIf="isNumber(row.study); else plainLabel"
                        >
                          <h2 class="doctor-name">{{ row.doctorName }}</h2>
                          <h3 class="doctor-study">Studio {{ row.study }}</h3>
                        </ng-container>
                        <ng-template #plainLabel>
                          <h2 class="doctor-name">{{ row.doctorName }}</h2>
                          <h3 class="doctor-study">{{ row.study }}</h3>
                        </ng-template>
                      </ion-label>
                    </ion-col>
                    <ion-col size="12" size-md="6" class="data-col">
                      <ion-label>
                        <h2 class="big-number">
                          {{ row.patientNumber || '-' }}
                        </h2>
                      </ion-label>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-card-content>
            </ion-card>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
