/* sala-attesa.page.scss */
.data-row {
  text-align: center;
}

.data-col {
  align-content: center;
}

.sala-attesa-content {
  --background: #f5f7fa;
  padding: 16px;
}

.card-hidden {
  background-color: transparent;
  box-shadow: none;
}

.card-soft {
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.section-title {
  color: var(--ion-color-primary);
}

.doctor-name {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--ion-color-primary);
}

.doctor-study {
  font-size: 1.2rem;
  font-weight: 400;
  color: var(--ion-color-secondary);
}

.big-number {
  font-size: 3rem;
  font-weight: 600;
  color: var(--ion-color-primary);
}
