@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

:root {
  --ion-color-primary: #0a3d66;
  --ion-color-primary-shade: #084158;
  --ion-color-primary-tint: #1a5a92;

  --ion-color-secondary: #40a8e0;
  --ion-color-secondary-shade: #338eb9;
  --ion-color-secondary-tint: #55b4ed;

  --ion-color-light: #fafafa;
  --ion-color-medium: #cccccc;
  --ion-color-dark: #333333;

  --ion-color-success: #40a8e0; /* oppure qualsiasi altro colore */
  --ion-color-green: #a1bc98;

  --ion-font-family: "Poppins", sans-serif;
}
