<ion-header class="modal-header">
  <ion-toolbar color="primary" class="modal-header">
    <ion-title>Aggiungi Paziente</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" name="close-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<form (ngSubmit)="addPatient()">
  <ion-item>
    <ion-label position="stacked">Nome</ion-label>
    <ion-input
      type="text"
      [(ngModel)]="fullName"
      name="fullName"
      required
    ></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Studio</ion-label>
    <ion-select
      [(ngModel)]="assignedStudy"
      name="assignedStudy"
      placeholder="Seleziona studio"
      required
    >
      <ion-select-option *ngFor="let s of studies" [value]="s">
        {{ s === "Palestra" ? s : "Studio " + s }}
      </ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item button (click)="openDateTimePicker()">
    <ion-label position="stacked">Data & Orario Appuntamento</ion-label>
    <ion-text class="placeholder">
      {{
        appointmentTime
          ? (appointmentTime | date : "dd/MM/yyyy HH:mm")
          : "Seleziona appuntamento"
      }}
    </ion-text>
    <!--
    <ion-select
      name="orarioAppuntamento"
      [(ngModel)]="orarioAppuntamento"
      (ionChange)="aggiornaDataCompleta()"
      interface="popover"
      placeholder="Seleziona orario"
    >
      <ion-select-option
        *ngFor="let orario of orariDisponibili"
        [value]="orario"
      >
        {{ orario }}
      </ion-select-option>
    </ion-select>
    -->
  </ion-item>
  <ion-segment
    [(ngModel)]="patientStatus"
    name="status"
    class="segment"
    color="secondary"
  >
    <ion-segment-button value="in_attesa">
      <ion-label>In Attesa</ion-label>
    </ion-segment-button>
    <ion-segment-button value="prenotato">
      <ion-label>Prenotato</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-button
    expand="full"
    class="modal-button"
    type="submit"
    [disabled]="!fullName || !appointmentTime || !assignedStudy"
    >Aggiungi</ion-button
  >
</form>
