.section-title {
  color: var(--ion-color-primary);
}

.icon {
  color: var(--ion-color-secondary);
}

ion-badge {
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
