<ion-header class="modal-header">
  <ion-toolbar color="primary" class="modal-header">
    <ion-title>Aggiungi Medico</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" name="close-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<form (ngSubmit)="addDoctor()">
  <ion-item>
    <ion-label position="stacked">Medico</ion-label>
    <ion-select
      [(ngModel)]="selectedDoctor"
      name="selectedDoctor"
      placeholder="Seleziona dottore"
      required
    >
      <ion-select-option *ngFor="let doc of doctors" [value]="doc">
        {{ doc }}
      </ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Studio</ion-label>
    <ion-select
      [(ngModel)]="assignedStudy"
      name="assignedStudy"
      placeholder="Seleziona studio"
      required
    >
      <ion-select-option *ngFor="let s of studies" [value]="s">
        {{ s === "Palestra" ? s : "Studio " + s }}
      </ion-select-option>
    </ion-select>
  </ion-item>
  <ion-button
    expand="full"
    class="modal-button"
    type="submit"
    [disabled]="!selectedDoctor || !assignedStudy"
  >
    Aggiungi
  </ion-button>
</form>
